.portfolio {
  max-width: 1920px;
  margin: 0 auto;
  padding: 110px 70px 101px;

  &__title {
    margin: 0;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    color: #A0A0A0;
  }

  &__list {
    margin-top: 35px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    padding-top: 15px;
    padding-bottom: 14px;
    border-bottom: 1px solid #E8E8E8;
    &:last-of-type {
      border-bottom: none;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: -0.04em;
    color: #000000;
    text-decoration: none;
    transition: opacity 0.5s;
  }

  &__link-text {
    margin: 0;
    line-height: 1.67;
  }

  &__link-symbol {
    margin: 0;
    line-height: 2;
  }
}

@media screen and (max-width: 990px) {
  .portfolio {
    padding-top: 90px;
  }
  
  .portfolio__link {
    font-size: 28px;
  }
  
  .portfolio__link-text {
    line-height: 1.79;
  }
  
  .portfolio__link-symbol {
    line-height: 2.14;
  }
}
  
@media screen and (max-width: 620px) {
  .portfolio {
    padding: 70px 14px;
  }
  
  .portfolio__title {
    font-size: 14px;
    line-height: 1.43;
  }
  
  .portfolio__list {
    margin-top: 20px;
  }
  
  .portfolio__list-item {
    padding-top: 20px;
    padding-bottom: 19px;
  }
  
  .portfolio__link {
    font-size: 18px;
  }
  
  .portfolio__link-text {
    line-height: 1.56;
  }
  
  .portfolio__link-symbol {
    line-height: 1.56;
  }
}