.header__nav {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.header__link {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
}
