.about-project {
  max-width: 1280px;
}

.about-project__wrapper {
  padding: 110px 70px;
  margin: 0;
}

.about-project__title {
  margin: 0;
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  text-align: left;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
}

.about-project__columns {
  margin: 0;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-project__subheader {
  margin: 0;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  text-align: left;
}

.about-project__descr {
  margin: 0;
  padding-top: 26px;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.about-project__plan-weekly {
  width: 100%;
  display: flex;
  margin-top: 110px;
}

.about-project__stage {
  display: flex;
  flex-direction: column;
}

.about-project__stage_first {
  width: 20%;
}

.about-project__stage_second {
  width: 80%;
}

.about-project__stage-subheader {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  box-sizing: border-box;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #3456F3;
}

.about-project__stage-subheader_second {
  color: #000000;
  background-color: #F2F2F2;
}

.about-project__stage-descr {
  margin: 0;
  padding-top: 14px;
  color: #A0A0A0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

