.about-me {
  max-width: 1280px;
  margin: 0 auto;
  padding: 110px 70px 101px;
  box-sizing: border-box;
  background-color: #FAFAFA;
}

.about-me__title {
  display: grid;
  font-family: Inter;
  grid-template-columns: minmax(292px, 600px) 270px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-areas:
    "name img"
    "profession img"
    "descr img"
    "link img";
  justify-content: space-between;
  align-content: start;
  column-gap: 50px;
  margin-top: 66px;
}

.about-me__name {
  margin: 0;
  text-align: left;
  grid-area: name;
  font-family: Inter;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  color: #000000;
}

.about-me__subtitle {
  font-family: Inter;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 0;
  grid-area: profession;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: #000000;
}

.about-me__descr {
  font-family: Inter;
  text-align: left;
  margin-top: 26px;
  margin-bottom: 0;
  grid-area: descr;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #000000;
}

.about-me__link {
  font-family: Inter;
  align-self: end;
  margin-right: auto;
  grid-area: link;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  text-decoration: none;
  transition: opacity 0.5s;
}

.about-me__image {
  width: 270px;
  grid-area: img;
  object-fit: contain;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  color: #000000;
}
